<p id="notice"><%= notice %></p>

<p>
  <strong>Nm:</strong>
  <%= @product.nm %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Cnm:</strong>
  <%= @product.cnm %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
